In [75]:
from IPython.display import IFrame  
ciaLink="https://www.cia.gov/the-world-factbook/field/population-growth-rate/country-comparison" 
IFrame(ciaLink, width=700, height=300)

In [76]:
import pandas as pd

location='https://github.com/EvansDataScience/data/raw/master/'
fileDTA=location+'hsb_ok.dta'
dataStata=pd.read_stata(fileDTA,convert_categoricals=True)

dataCIA=pd.read_html(ciaLink,header=0,flavor='bs4',attrs={'class': 'content-table'})

In [77]:
len(dataCIA)

1

In [78]:
type(dataCIA)

list

In [79]:
from IPython.display import IFrame  
CIALink="https://www.cia.gov/the-world-factbook/field/population-growth-rate/country-comparison" 
IFrame(ciaLink, width=900, height=500)

import pandas as pd

ciaTables=pd.read_html(ciaLink, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'content-table'}) # attributes to identify element(s)

In [80]:
# remember that Python starts counting in ZERO!
dataCIA[0]

     Rank                    Country     % Date of Information
0       1                      Syria  5.32           2021 est.
1       2                South Sudan  5.05           2021 est.
2       3                    Burundi  3.68           2021 est.
3       4                      Niger  3.65           2021 est.
4       5                     Angola  3.38           2021 est.
..    ...                        ...   ...                 ...
235   234  Saint Pierre and Miquelon -1.20           2021 est.
236   235                Puerto Rico -1.46           2021 est.
237   236             American Samoa -2.10           2021 est.
238   237               Cook Islands -2.46           2021 est.
239   240    Cocos (Keeling) Islands -2.46           2021 est.

[240 rows x 4 columns]

In [81]:
DFTest=ciaTables[0]

In [82]:
ciaTables[0]

     Rank                    Country     % Date of Information
0       1                      Syria  5.32           2021 est.
1       2                South Sudan  5.05           2021 est.
2       3                    Burundi  3.68           2021 est.
3       4                      Niger  3.65           2021 est.
4       5                     Angola  3.38           2021 est.
..    ...                        ...   ...                 ...
235   234  Saint Pierre and Miquelon -1.20           2021 est.
236   235                Puerto Rico -1.46           2021 est.
237   236             American Samoa -2.10           2021 est.
238   237               Cook Islands -2.46           2021 est.
239   240    Cocos (Keeling) Islands -2.46           2021 est.

[240 rows x 4 columns]

In [83]:
# all columns
DFTest.columns=['Rank', 'Country', '%','Date of Information']
#se changes:
DFTest.head()

   Rank      Country     % Date of Information
0     1        Syria  5.32           2021 est.
1     2  South Sudan  5.05           2021 est.
2     3      Burundi  3.68           2021 est.
3     4        Niger  3.65           2021 est.
4     5       Angola  3.38           2021 est.

In [84]:
DF=ciaTables[0]
DFTest=DF.copy()

In [85]:
DFTest=DF.copy() # recreating DFTest
some=['Rank', 'Country', '%','Date of Information']

In [86]:
# all columns
DFTest.columns=['Rank', 'Country', '%','Date of Information']
#se changes:
DFTest.head()

   Rank      Country     % Date of Information
0     1        Syria  5.32           2021 est.
1     2  South Sudan  5.05           2021 est.
2     3      Burundi  3.68           2021 est.
3     4        Niger  3.65           2021 est.
4     5       Angola  3.38           2021 est.

In [87]:
dict(zip(DFTest.columns[0:3:1], some))

{'Rank': 'Rank', 'Country': 'Country', '%': '%'}

In [88]:
#DFTest.columns[0:3:1] 
newColumnNames=['Rank', 'Country', '%']
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)))
DFTest[['Rank', 'Country', '%']]

     Rank                    Country     %
0       1                      Syria  5.32
1       2                South Sudan  5.05
2       3                    Burundi  3.68
3       4                      Niger  3.65
4       5                     Angola  3.38
..    ...                        ...   ...
235   234  Saint Pierre and Miquelon -1.20
236   235                Puerto Rico -1.46
237   236             American Samoa -2.10
238   237               Cook Islands -2.46
239   240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [89]:
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)))
DFTest[['Rank', 'Country', '%']]

     Rank                    Country     %
0       1                      Syria  5.32
1       2                South Sudan  5.05
2       3                    Burundi  3.68
3       4                      Niger  3.65
4       5                     Angola  3.38
..    ...                        ...   ...
235   234  Saint Pierre and Miquelon -1.20
236   235                Puerto Rico -1.46
237   236             American Samoa -2.10
238   237               Cook Islands -2.46
239   240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [90]:
DFTest

     Rank                    Country     % Date of Information
0       1                      Syria  5.32           2021 est.
1       2                South Sudan  5.05           2021 est.
2       3                    Burundi  3.68           2021 est.
3       4                      Niger  3.65           2021 est.
4       5                     Angola  3.38           2021 est.
..    ...                        ...   ...                 ...
235   234  Saint Pierre and Miquelon -1.20           2021 est.
236   235                Puerto Rico -1.46           2021 est.
237   236             American Samoa -2.10           2021 est.
238   237               Cook Islands -2.46           2021 est.
239   240    Cocos (Keeling) Islands -2.46           2021 est.

[240 rows x 4 columns]

In [91]:
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)),inplace=True)

In [92]:
DFTest[['Rank', 'Country', '%']]

     Rank                    Country     %
0       1                      Syria  5.32
1       2                South Sudan  5.05
2       3                    Burundi  3.68
3       4                      Niger  3.65
4       5                     Angola  3.38
..    ...                        ...   ...
235   234  Saint Pierre and Miquelon -1.20
236   235                Puerto Rico -1.46
237   236             American Samoa -2.10
238   237               Cook Islands -2.46
239   240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [93]:
import re

In [94]:
textExample="var1 iab22 les333[4]"

In [95]:
# one or more blanks: \\s+
# one or more numbers: \\d+
# find opening bracket : \\[
# find closing bracket: \\]

# You can combine using '|' (or):
WhenYouFind='\\s+|\\d+|\\[|\\]'
replaceWith=''

# use it:
re.sub(WhenYouFind,replaceWith,textExample)

'variables'

In [96]:
# substitute the elements in each NAME in the COLUMNS:
[re.sub(WhenYouFind,replaceWith,NewColumnNames) for NewColumnNames in DFTest.columns]

['Rank', 'Country', '%', 'DateofInformation']

In [97]:
# Turn the result to lower case
[re.sub(WhenYouFind,replaceWith,NewColumnNames).lower() for NewColumnNames in DFTest.columns]

['rank', 'country', '%', 'dateofinformation']

In [98]:
# "lambda" style function
# name of function is 'cleaner'
# function transforms INPUT

cleaner = lambda INPUT: re.sub(WhenYouFind,replaceWith,INPUT).lower()

In [99]:
[cleaner(TEXT) for TEXT in DF.columns]

['rank', 'country', '%', 'dateofinformation']

In [100]:
DFTest=DF.copy() # recreating DFTest

# Pandas only:
DFTest.columns.str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['rank', 'country', '%', 'dateofinformation'], dtype='object')

In [101]:
DFTest.columns[0:3:1].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['rank', 'country', '%'], dtype='object')

In [102]:
# saving result :
NewColumnNames=DFTest.columns[0:3:1].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()
# which are:
NewColumnNames

Index(['rank', 'country', '%'], dtype='object')

In [103]:
# using 'zip()':
changes=dict(zip(DF.iloc[:,0:3:1].columns,NewColumnNames))
changes

{'Rank': 'rank', 'Country': 'country', '%': '%'}

In [104]:
DFTest=DF.copy() # recreating DFTest
DFTest.columns

Index(['Rank', 'Country', '%', 'Date of Information'], dtype='object')

In [105]:
# split the text when you find '['
notSoBad=[TEXT.split("[") for TEXT in DFTest.columns]
# see:
notSoBad

[['Rank'], ['Country'], ['%'], ['Date of Information']]

In [106]:
# split the text when you find '['and keep first element:
notSoBad=[TEXT.split("[")[0] for TEXT in DFTest.columns]
# see:
notSoBad

['Rank', 'Country', '%', 'Date of Information']

In [107]:
#split using the blanks
goodEnough=[TEXT.split(" ") for TEXT in notSoBad]
# see:
goodEnough

[['Rank'], ['Country'], ['%'], ['Date', 'of', 'Information']]

In [108]:
#split using the blanks and them concatenate using "join()":
betterThanBad=["".join(TEXT.split(" ")) for TEXT in notSoBad]
# see:
betterThanBad

['Rank', 'Country', '%', 'DateofInformation']

In [109]:
#original:
import re
[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

['rank', 'country', '%', 'dateinformation']

In [110]:
DF.columns=[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

In [111]:
DF.country[0]

'Syria'

In [112]:
DFTestA=DFTest # approach 1
DFTestB=DFTest.copy() # approach 2
DFTestA.drop(['Date of Information'],1,inplace=True) # inplace!!!

In [113]:
DFTestA

     Rank                    Country     %
0       1                      Syria  5.32
1       2                South Sudan  5.05
2       3                    Burundi  3.68
3       4                      Niger  3.65
4       5                     Angola  3.38
..    ...                        ...   ...
235   234  Saint Pierre and Miquelon -1.20
236   235                Puerto Rico -1.46
237   236             American Samoa -2.10
238   237               Cook Islands -2.46
239   240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [114]:
DFTest=DF.copy() # recreating DFTest
some=['rank', 'country', '%','date of Information']

In [115]:
# all columns
DFTest.columns=['popgrowth rank', 'country', '%','date of Information']
#se changes:
DFTest.head()

   popgrowth rank      country     % date of Information
0               1        Syria  5.32           2021 est.
1               2  South Sudan  5.05           2021 est.
2               3      Burundi  3.68           2021 est.
3               4        Niger  3.65           2021 est.
4               5       Angola  3.38           2021 est.

In [116]:
dict(zip(DFTest.columns[0:3:1], some))

{'popgrowth rank': 'rank', 'country': 'country', '%': '%'}

In [117]:
#DFTest.columns[0:3:1] 
newColumnNames=['popgrowth rank', 'country', '%']
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)))
DFTest[['popgrowth rank', 'country', '%']]

     popgrowth rank                    country     %
0                 1                      Syria  5.32
1                 2                South Sudan  5.05
2                 3                    Burundi  3.68
3                 4                      Niger  3.65
4                 5                     Angola  3.38
..              ...                        ...   ...
235             234  Saint Pierre and Miquelon -1.20
236             235                Puerto Rico -1.46
237             236             American Samoa -2.10
238             237               Cook Islands -2.46
239             240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [118]:
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)))
DFTest[['popgrowth rank', 'country', '%']]

     popgrowth rank                    country     %
0                 1                      Syria  5.32
1                 2                South Sudan  5.05
2                 3                    Burundi  3.68
3                 4                      Niger  3.65
4                 5                     Angola  3.38
..              ...                        ...   ...
235             234  Saint Pierre and Miquelon -1.20
236             235                Puerto Rico -1.46
237             236             American Samoa -2.10
238             237               Cook Islands -2.46
239             240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [119]:
DFTest

     popgrowth rank                    country     % date of Information
0                 1                      Syria  5.32           2021 est.
1                 2                South Sudan  5.05           2021 est.
2                 3                    Burundi  3.68           2021 est.
3                 4                      Niger  3.65           2021 est.
4                 5                     Angola  3.38           2021 est.
..              ...                        ...   ...                 ...
235             234  Saint Pierre and Miquelon -1.20           2021 est.
236             235                Puerto Rico -1.46           2021 est.
237             236             American Samoa -2.10           2021 est.
238             237               Cook Islands -2.46           2021 est.
239             240    Cocos (Keeling) Islands -2.46           2021 est.

[240 rows x 4 columns]

In [120]:
DFTest.rename(columns=dict(zip(DFTest.columns[0:3:1], newColumnNames)),inplace=True)

In [121]:
DFTest[['popgrowth rank', 'country', '%']]

     popgrowth rank                    country     %
0                 1                      Syria  5.32
1                 2                South Sudan  5.05
2                 3                    Burundi  3.68
3                 4                      Niger  3.65
4                 5                     Angola  3.38
..              ...                        ...   ...
235             234  Saint Pierre and Miquelon -1.20
236             235                Puerto Rico -1.46
237             236             American Samoa -2.10
238             237               Cook Islands -2.46
239             240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [122]:
textExample="var1 iab22 les333[4]"

In [123]:
WhenYouFind='\\s+|\\d+|\\[|\\]'
replaceWith=''

# use it:
re.sub(WhenYouFind,replaceWith,textExample)

'variables'

In [124]:
[re.sub(WhenYouFind,replaceWith,NewColumnNames) for NewColumnNames in DFTest.columns]

['popgrowthrank', 'country', '%', 'dateofInformation']

In [125]:
[re.sub(WhenYouFind,replaceWith,NewColumnNames).lower() for NewColumnNames in DFTest.columns]

['popgrowthrank', 'country', '%', 'dateofinformation']

In [126]:
[cleaner(TEXT) for TEXT in DF.columns]

['rank', 'country', '%', 'dateinformation']

In [127]:
DFTest=DF.copy()


DFTest.columns.str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['rank', 'country', '%', 'dateinformation'], dtype='object')

In [128]:
DFTest.columns[0:3:1].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['rank', 'country', '%'], dtype='object')

In [129]:

NewColumnNames=DFTest.columns[0:3:1].str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

NewColumnNames

Index(['rank', 'country', '%'], dtype='object')

In [130]:
changes=dict(zip(DF.iloc[:,0:3:1].columns,NewColumnNames))
changes

{'rank': 'rank', 'country': 'country', '%': '%'}

In [131]:
DFTest=DF.copy() 
DFTest.columns

Index(['rank', 'country', '%', 'dateinformation'], dtype='object')

In [132]:
notSoBad=[TEXT.split("[") for TEXT in DFTest.columns]

notSoBad

[['rank'], ['country'], ['%'], ['dateinformation']]

In [133]:
notSoBad=[TEXT.split("[")[0] for TEXT in DFTest.columns]

notSoBad

['rank', 'country', '%', 'dateinformation']

In [134]:
goodEnough=[TEXT.split(" ") for TEXT in notSoBad]

goodEnough

[['rank'], ['country'], ['%'], ['dateinformation']]

In [135]:
betterThanBad=["".join(TEXT.split(" ")) for TEXT in notSoBad]

betterThanBad

['rank', 'country', '%', 'dateinformation']

In [136]:
import re
[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

['rank', 'country', '%', 'dateinformation']

In [137]:
DF.columns=[re.sub('\d+|index|of',"",text.lower()) for text in betterThanBad]

In [138]:
DF.country[0]

'Syria'

In [139]:
DFTestA=DFTest # approach 1
DFTestB=DFTest.copy() # approach 2
DFTestA.drop(['dateinformation'],1,inplace=True) # inplace!!!

In [140]:
DFTestA

     rank                    country     %
0       1                      Syria  5.32
1       2                South Sudan  5.05
2       3                    Burundi  3.68
3       4                      Niger  3.65
4       5                     Angola  3.38
..    ...                        ...   ...
235   234  Saint Pierre and Miquelon -1.20
236   235                Puerto Rico -1.46
237   236             American Samoa -2.10
238   237               Cook Islands -2.46
239   240    Cocos (Keeling) Islands -2.46

[240 rows x 3 columns]

In [141]:
DFTestA.to_csv("AnnieData.csv",index=False)

In [144]:
DFTestA=DFTest # approach 1
DFTestB=DFTest.copy() # approach 2
DFTestA.drop(['rank'],1,inplace=True) # inplace!!!

In [145]:
DFTestA

                       country     %
0                        Syria  5.32
1                  South Sudan  5.05
2                      Burundi  3.68
3                        Niger  3.65
4                       Angola  3.38
..                         ...   ...
235  Saint Pierre and Miquelon -1.20
236                Puerto Rico -1.46
237             American Samoa -2.10
238               Cook Islands -2.46
239    Cocos (Keeling) Islands -2.46

[240 rows x 2 columns]

In [146]:
DFTestA.to_csv("AnnieData.csv",index=False)